{% extends "Unauthorized/base.html" %}
{% load static %}
{% load socialaccount %}
{% block title %}Home - DocuSum{% endblock %}

{% block content %}
    <header class="pt-5">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5">
                <div class="col-md-8 col-lg-7 col-xl-9 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="display-4 fw-bold mb-5">Job Search&nbsp;<span><span style="text-decoration: underline;">Simplified</span></span>&nbsp;For The Modern Student.</h1>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="text-center position-relative"><img class="img-fluid" src="{% static "assets/img/illustrations/index.png" %}" style="width: 800px;"></div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}