{% extends "Authorized/Core/Employer/base.html" %}
{% load static%} 
{% load socialaccount %} 
{% block title %}Job Postings - Employer
{% endblock %} 

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-custom">
        <div class="card-body">
          <h4 class="card-title">Job Postings</h4>
          <h6 class="text-muted card-subtitle mb-2">
            Take a look at your job postings and the candidates that applied for them.
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card card-custom scrollable-card">
        <ul class="list-group list-group-flush">
          {% for job in jobs %}
          <li class="list-group-item">
            <h4 class="card-title">{{ job.position }}</h4>
            <p class="card-text">{{ job.description|truncatewords:20 }}</p>
            <button class="btn btn-primary btn-custom" onclick="loadJobDetails('{{ job.job_uuid }}')">
              View Posting
            </button>
          </li>
          {% empty %}
          <li class="list-group-item">There are no jobs posted.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-custom scrollable-card job-details">
          <!-- Job details will be dynamically loaded here -->
      </div>
    </div>
  </div>
</div>

<script>
  var jobs = JSON.parse('{{ jobs_json|safe }}');

  function loadJobDetails(jobId) {
    var job = jobs.find(job => job.fields.job_uuid === jobId);
    if (!job) {
      console.error('Job not found!');
      return;
    }
    var jobDetailsDiv = document.querySelector('.job-details');
    // Replace the placeholder '00000000-0000-0000-0000-000000000000' with the actual job_id
    var candidateListUrl = "{% url 'candidate_list' '00000000-0000-0000-0000-000000000000' %}".replace("00000000-0000-0000-0000-000000000000", jobId);

    jobDetailsDiv.innerHTML = `
      <div class="card card-custom scrollable-card">
        <img class="card-img-top" src="https://logo.clearbit.com/apple.com" alt="Company Image" onerror="this.onerror=null; this.src='{{ default_image_url }}';">
        <div class="card-body">
          <h5 class="card-title">${job.fields.position}</h5>
          <p class="card-text">${job.fields.description}</p>
          <a href="${job.fields.link_to_apply}" class="btn btn-primary" style="border-radius: 10px">Company Website</a>
          <a href="${candidateListUrl}" class="btn btn-primary" style="border-radius: 10px">View Candidate List</a>
        </div>
      </div>
    `;
  }
</script>


{% endblock %}