{% extends "Authorized/Core/Employer/base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}Employer Profile{% endblock %}

{% block content %}
    <style>
        .container {
            max-width: 1200px; 
            padding: 2rem 0; 
        }

        .profile-box {
            background-color: #ffffff;
            margin-top: 1rem;
            padding: 1rem;
            border-radius: 20px; 
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
            margin-bottom: 2rem; 
        }

        .profile-image-bg {
            height: 150px;
            background-image: url('{% static "assets/employer_side/img/photo-1542831371-29b0f74f9713-2.jpg" %}');
            background-size: cover;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            border-bottom-left-radius: 18px;
            border-bottom-right-radius: 18px;
        }

        .profile-image {
            width: 150px;
            height: 150px;
            border-radius: 50%; 
            border: 5px solid white; 
            margin-top: -75px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
        }

        .card {
            border-radius: 18px; 
            overflow: scroll;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            margin-bottom: 2rem; 
        }

        .card-body {
            padding: 20px;
        }

        .btn-primary {
            border-radius: 30px; 
            padding: 0.75rem 2rem; 
            font-size: 1rem; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        }

        .list-group-item {
            border: none; 
            padding: 0.5rem 1rem; 
        }

        .card-img-overlay {
            background: rgba(0, 0, 0, 0.6); 
            color: white;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h4, p {
            margin: 0.5rem 0; 
        }

        .responsive-img {
            width: 100%; 
            height: auto; 
            object-fit: cover; 
        }
    </style>
    <section>
        <div class="container" style="margin-top: 1rem;">
            <div class="profile-box text-center">
                <div class="profile-image-bg"></div>
                {% with user.socialaccount_set.all.0 as socialaccount %}
                    {% if socialaccount %}
                        <img src="{{ socialaccount.get_avatar_url }}" alt="{{ user.username }}" class="rounded-circle"
                             style="width: 120px; height: 120px;">
                    {% else %}
                        <i class="fas fa-user-circle fa-lg"></i>
                    {% endif %}
                {% endwith %}
                <h4>{{ user.first_name|title }} {{ user.last_name|title }}</h4>
                <p>{{ user.employer_profile.position|title }} @ {{ user.employer_profile.company_name|title }}</p>
                <a href="{% url 'edit_employer_profile' %}" class="btn btn-primary mt-3">Manage Profile</a>
            </div>
            <div class="row">
                <div class="col-md-6 col-limited">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Your Job Postings</h4>
                            <p>Here, you can view your job postings.</p>
                            <!-- check this out later -->
                            <ul class="list-group">
                                {% for job in jobs %}
                                    <li class="list-group-item">{{ job.position }}</li>
                                {% empty %}
                                    <li class="list-group-item">No job postings available.</li>
                                {% endfor %}
                            </ul>
                            <a href="{% url 'job_posting_page' %}" class="btn btn-primary mt-3">View All</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-limited">
                    <div class="card">
                        <img src="https://logo.clearbit.com/{{ profile.company_website }}"
                             class="card-img .responsive-img" alt="Company Image"
                             style="object-fit: cover; width: 100%; height: 100%;">
                        <div class="card-img-overlay">
                            <h2><a href="{{ profile.company_website }}"
                                   style="color: white;">{{ user.employer_profile.company_name }}</h2></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
